#SceneScene6 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(10,10,10,1);
}

.row {
	margin: 0;
	margin-bottom: 20px;
}

#movies6 img {
	width: 100%;
	margin-top: 10px;
}

#movies6 .selected img {
	-webkit-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
	box-shadow: 0px 0px 0px 5px rgba(214,74,50,1);
}

#details6 {
	width: 100%;
	height: 100%;
}

#details6 #content6 {
	width: 100%;
	height: 100%;
	background-color: rgba(10,10,10,0.7);
	color: #FFF;
}

#details6 #content6 img {
	margin-top: 90px;
}

#details6 #content6 h1 {
	margin-top: 150px;
}

#details6 #content6 h2 {
	font-size: 1.6em;
	margin-bottom: 40px;
}

.puntua {
	text-align: center;
	color: #999;
	text-transform: uppercase;
}
